# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor
\.vscode/

*.code-workspace

out
masterkube/cluster/*
masterkube/kubernetes/*
masterkube/config/*
masterkube/etc/ssl/*

vsphere/agora\.json

masterkube/guestinfos/*\.txt
masterkube/guestinfos/*\.json
masterkube/guestinfos/*\.yaml

launch\.sh

kubernetes-vmware-autoscaler

masterkube/bin/govc.defs

build-dev.sh
